{% extends "template.html" %}

{% block content %}
<h2>Vytvořit novou výzvu</h2>

<form action="{{ url_for('create_challenge_route') }}" method="post">
    <div style="margin-bottom: 15px;">
        <label for="title">Název výzvy:</label><br>
        <input type="text" id="title" name="title" required>
    </div>

    <div style="margin-bottom: 15px;">
        <label for="description">Popis výzvy:</label><br>
        <textarea id="description" name="description" required></textarea>
    </div>

    <div style="margin-bottom: 15px;">
        <label for="duration">Trvání (v dnech):</label><br>
        <input type="number" id="duration" name="duration" required>
    </div>

    <div style="margin-bottom: 15px;">
        <label for="hashtags">Vyberte hashtagy:</label><br>
        <select id="hashtags" name="hashtags" multiple style="width: 100%;">
            {% for hashtag in hashtags %}
                <option value="{{ hashtag.name }}">{{ hashtag.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div style="margin-bottom: 15px;">
        <a href="{{ url_for('add_hashtag') }}">Přidat nový hashtag</a>
    </div>

    <div style="margin-bottom: 15px;">
        <label for="image">Přidat obrázek:</label><br>
        <input type="file" id="image" name="image" accept="image/*">
    </div>
    <button type="submit">Vytvořit výzvu</button>
</form>

<script>
    $(document).ready(function() {
        $('#hashtags').select2({
            placeholder: "Vyberte nebo hledejte hashtagy",
            allowClear: true
        });
    });
</script>
{% endblock %}

