{% extends "template.html" %}

{% block content %}
<h2>Upravit profil</h2>

<form action="{{ url_for('upload_profile_picture') }}" method="post" enctype="multipart/form-data" style="margin-top: 20px;">
    <label for="profile_image">Nahrát profilovou fotku:</label>
    <input type="file" id="profile_image" name="profile_image" accept="image/*">
    <button type="submit">Nahrát</button>
</form>

<form action="{{ url_for('update_profile') }}" method="post">
    <!-- Ostatní pole pro úpravu profilu -->
    <div>
        <label for="name">Jméno:</label>
        <input type="text" id="name" name="name" value="{{ profile.name }}">
    </div>
    <div>
        <label for="age">Věk:</label>
        <input type="number" id="age" name="age" value="{{ profile.age }}">
    </div>
    <div>
        <label for="hobbies">Záliby (oddělené čárkou):</label>
        <input type="text" id="hobbies" name="hobbies" value="{{ profile.hobbies | join(', ') }}">
    </div>
    <button type="submit">Uložit změny</button>
</form>

<!-- Formulář pro nahrání profilové fotky -->


{% endblock %}

