<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
    <h2>Profil uživatele {{ profile.get("name") }}</h2>
    <ul>
        <li>Věk: {{ profile.get("age") }}</li>
        <li>Záliby:
            <ul>
                {% if profile.get("hobbies") %}
                    {% for hobby in profile.get("hobbies") %}
                        <li>{{ hobby }}</li>
                    {% endfor %}
                {% else %}
                    <li>Žádné záliby</li>
                {% endif %}
            </ul>
        </li>
        <li>Body sluníček: {{ profile.get("sun_points") }}</li>
        <li>Body ohýnku: {{ profile.get("fire_points") }}</li>
    </ul>
    <!-- Tlačítko pro odhlášení -->
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Odhlásit se</button>
    </form>
</body>
</html>

