{% extends "template.html" %}

{% block content %}
    <h2>Profil uživatele {{ profile.get("name") }}</h2>

    <ul>
        <li>Věk: {{ profile.get("age") }}</li>
        <li>Body sluníček: {{ profile.get("sun_points") }}</li>
        <li>Body ohýnku: {{ profile.get("fire_points") }}</li>
    </ul>

    <h3>Probíhající výzvy</h3>
    {% if ongoing_challenges %}
        <ul>
            {% for challenge in ongoing_challenges %}
                <li>
                    <h4>{{ challenge.title }}</h4>
                    <p>{{ challenge.description }}</p>
                    <p>Datum ukončení: {{ challenge.end_date }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nemáte žádné probíhající výzvy.</p>
    {% endif %}

    <h3>Splněné výzvy</h3>
    {% if completed_challenges %}
        <ul>
            {% for challenge in completed_challenges %}
                <li>
                    <h4>{{ challenge.title }}</h4>
                    <p>{{ challenge.description }}</p>
                    <p>Datum ukončení: {{ challenge.end_date }}</p>
                    <p>Výsledek: {{ challenge.result }}</p>
                    <p>Komentář: {{ challenge.comment }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nemáte žádné splněné výzvy.</p>
    {% endif %}
{% endblock %}
