{% extends "template.html" %}

{% block content %}
<h2>Vyhledávání</h2>
<form action="{{ url_for('search') }}" method="get">
    <input type="text" name="query" placeholder="Zadejte hledaný výraz">
    <button type="submit">Hledat</button>
</form>


{% if results %}
    <ul>
        {% for result in results %}
            <li>
                {% if result.type == 'user' %}
                    <a href="{{ url_for('users_profile', username=result.name) }}">{{ result.name }}</a> (Uživatel)
                {% elif result.type == 'challenge' %}
                    <a href="{{ url_for('challenge_details', title=result.name) }}">{{ result.name }}</a> (Výzva)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Žádné výsledky pro "{{ query }}"</p>
{% endif %}
{% endblock %}
