{% extends "template.html" %}

{% block content %}
<h2>Vyhledávání</h2>
{% if profile %}
    <p>Profil uživatele: {{ profile.get("name") }}</p>
    <p>Věk: {{ profile.get("age") }}</p>
    <p>Záliby:</p>
    <ul>
        {% if profile.get("hobbies") %}
            {% for hobby in profile.get("hobbies") %}
                <li>{{ hobby }}</li>
            {% endfor %}
        {% else %}
            <li>Žádné záliby</li>
        {% endif %}
    </ul>
{% else %}
    <p>Nebyly nalezeny žádné potenciální shody.</p>
{% endif %}
{% endblock %}
