{% extends "base.html" %}

{% block content %}
    <h2>Profil uživatele {{ user.username }}</h2>
    
    <div>
        <h3>Údaje uživatele</h3>
        <p><strong>Uživatelské jméno:</strong> {{ user.username }}</p>
        <p><strong>Počet bodů:</strong> {{ points }}</p>

        {% if user.username == session['username'] %}
            <a href="{{ url_for('profile.edit_profile') }}" class="btn btn-primary">Upravit účet</a>
        {% endif %}
    </div>

    <hr>

    <div>
        <h3>Vytvořené výzvy</h3>
        {% if created_challenges %}
            <ul>
                {% for challenge in created_challenges %}
                    <li>
                        <strong>{{ challenge['c']['name'] }}</strong> - {{ challenge['c']['description'] }}
                        <br>
                        <em>Hashtags: {{ challenge['c']['hashtags'] | join(', ') }}</em>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Žádné výzvy ještě nevytvořeny.</p>
        {% endif %}
    </div>

    <hr>

    <div>
        <h3>Připojené výzvy</h3>
        {% if joined_challenges %}
            <ul>
                {% for challenge in joined_challenges %}
                    <li>
                        <strong>{{ challenge['c']['name'] }}</strong> - {{ challenge['c']['description'] }}
                        <br>
                        <em>Hashtags: {{ challenge['c']['hashtags'] | join(', ') }}</em>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nejste připojeni k žádné výzvě.</p>
        {% endif %}
    </div>

    <hr>

    <div>
        <h3>Dokončené výzvy</h3>
        {% if completed_challenges %}
            <ul>
                {% for challenge in completed_challenges %}
                    <li>
                        <strong>{{ challenge['c']['name'] }}</strong> - {{ challenge['c']['description'] }}
                        <br>
                        <em>Hashtags: {{ challenge['c']['hashtags'] | join(', ') }}</em>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Žádné výzvy ještě nebyly dokončeny.</p>
        {% endif %}
    </div>

{% endblock %}
