{% extends "base.html" %}
{% block content %}
<h2>{{ user['username'] }}'s Profile</h2>
<p><strong>Činky:</strong> {{ user['points'] }} 💪</p>

{% if created_challenges %}
<h3>Created Challenges</h3>
<ul>
    {% for challenge in created_challenges %}
        <li>
            <a href="{{ url_for('challenges.challenge_detail', challenge_id=challenge['id']) }}">
                {{ challenge['name'] }}
            </a>
            <br>
            Hashtags: 
            {% if challenge['hashtags'] %}
                {{ challenge['hashtags']|join(', ') }}
            {% else %}
                No hashtags
            {% endif %}
        </li>
    {% endfor %}
</ul>



{% else %}
    <p>No created challenges.</p>
{% endif %}

<h3>Completed Challenges</h3>
{% if completed_challenges %}
    <ul>
        {% for challenge in completed_challenges %}
        <li>
            <strong>{{ challenge['c']['name'] }}</strong> - 
            Result: {{ challenge['result'] if challenge['result'] else 'No result available' }}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No completed challenges.</p>
{% endif %}
{% if is_admin %}
    <a href="{{ url_for('admin.admin_menu') }}">Go to Admin Menu</a>
{% endif %}

{% if is_self %}
    <a href="{{ url_for('profile.edit_profile') }}">Edit Profile</a> |
    <a href="{{ url_for('profile.logout') }}">Logout</a>
{% endif %}
{% endblock %}