{% extends "base.html" %}
{% block content %}
<h2>Search</h2>
<form method="post">
    <input name="query" placeholder="Search for users or challenges" required>
    <button type="submit">Search</button>
</form>

{% if users %}
    <h2>User Results</h2>
    <ul>
        {% for user in users %}
            <li>
                <a href="{{ url_for('profile.view_other_profile', username=user['username']) }}">
                    {{ user['username'] }}
                </a> - Interests: {{ user['interests'] if user['interests'] else 'No interests available' }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users found.</p>
{% endif %}

{% if challenges %}
<h3>Challenge Results</h3>
<ul>
    {% for challenge in challenges %}
<li>
    <a href="{{ url_for('challenges.challenge_detail', challenge_id=challenge['id']) }}">
        {{ challenge['name'] }}
    </a> - Hashtags:
    {% if challenge['hashtags'] %}
        {{ challenge['hashtags'] | join(', ') }}
    {% else %}
        No hashtags
    {% endif %}
</li>
{% endfor %}


</ul>

{% else %}
    <p>No challenges found.</p>
{% endif %}
{% endblock %}
